header {
  padding: 0 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 85px);
}

.container * {
  margin-bottom: 30px;
}

button,
input {
  padding: 5px 30px;
  font-family: inherit;
  font-size: 24px;
  border: solid 3px black;
  outline: solid 3px black;
  outline-offset: -3px;
  height: 50px;
  background-color: transparent;
  transition: outline-offset 250ms ease;
}

button:hover {
  cursor: pointer;
}

button:focus-within,
button:hover,
input:focus-within,
input:hover {
  outline-offset: 3px;
}

a {
  text-decoration: none;
  color: black;
}

.link:hover {
  text-decoration: underline;
}

.orange {
  color: orangered;
}
